{% extends "blank.html" %}

{% block extracss %}
<link href="/static/css/menu.css" rel="stylesheet">
{% endblock %}

{% block content %}
	
		<script>

		$(document).ready(function(){
			$("#menu0").delay(500).fadeIn("slow");
			$("#menu1").delay(700).fadeIn("slow");
			$("#menu2").delay(900).fadeIn("slow");
			$("#menu3").delay(1100).fadeIn("slow");
		});

		
		</script>
		<div class="fader" id="menu0">
			Open Dashboard
		</div>
		<div class="fader" id="menu1">
			Open Zork
		</div>
		<div class="fader" id="menu2">
			Play Sth
		</div>
		<div class="fader" id="menu3">
			the Map
		</div>
	
{% endblock %}
